@using RouteRecorder.ViewModels
@model UsersViewModel

@{
    ViewData["Title"] = "Users";
}
<h1>All Users</h1>
<a asp-action="Create" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</a>
<div class="d-flex flex-column">
    <div class="row">
        <div class="col-12 col-xl-11 col-xxl-10">
            <table class="table mt-3">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th></th>
                </tr>
                @foreach (AppUser user in Model.Users)
                {
                    <tr>
                        <td class="text-center">@user.Id</td>
                        <td class="text-center">@user.UserName</td>
                        <td class="text-center">@user.Email</td>
                        <td>
                            <div class="d-flex flex-row">
                                <a class="btn btn-sm btn-primary me-2" asp-action="Update" asp-route-id="@user.Id">Update</a>
                                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@* Modal window for adding user *@
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
            </div>
            <form method="post" asp-action="AddUser" asp-controller="Users">
                <div class="modal-body form-group">
                    <div class="mb-3">
                        <label asp-for="AddUser.Username"></label>
                        <input asp-for="AddUser.Username" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>
