@using RouteRecorder.ViewModels
@model IEnumerable<RouteViewModel>
<h2>List of routes</h2>

@* Button for modal window *@
<a class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#addRouteModal" asp-action="AddRoute">Add Route</a>

<div class="d-flex flex-column">
    <table class="table">
        <thead>
            <tr>
                <th class="align-middle">Activity</th>
                <th>Date</th>
                <th>Person</th>
                <th>Distance [m]</th>
                <th>Time</th>
                <th>Average speed [km/h]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model)
            {
                <tr class="align-middle">
                    <td class="align-middle">@route.Activity</td>
					<td>@route.Date</td>
					<td>@route.Person</td>
					<td>@route.Distance</td>
					<td>@route.Time</td>
					<td>@route.AvgSpeed</td>
					<td>
						<div class="d-flex flex-row">
							<a class="btn btn-success me-2" asp-action="ShowMap" asp-route-id="@route.RouteId">Map</a>
							<form method="post">
								<button type="submit" class="btn btn-warning" asp-action="Delete" asp-route-id="@route.RouteId">Delete</button>
							</form>
						</div>
					</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* Modal window for adding route *@
<div class="modal fade" id="addRouteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Route</h1>
      </div>
      <form method="post" enctype="multipart/form-data" asp-action="UploadGpx" asp-controller="Routes">
          <div class="modal-body form-group">
            <div class="mb-3">
              <label for="formFile" class="form-label">Select .xml file with route data</label>
              <input class="form-control" type="file" name="file" id="formFile">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input class="btn btn-primary" type="submit" value="Upload"/>
          </div>
      </form>
    </div>
  </div>
</div>